# General Environment Settings
NODE_ENV =                 # The environment in which the application is running (e.g., development, production)
PORT =                     # The port on which the application server listens
HOST =                     # The hostname of the application server
CLIENT_PORT =              # The port on which the client application runs
CLIENT_URL =               # The URL of the client application
API_URL =                  # The URL of the backend API

# Database Configuration
DB_URI =                   # The URI connection string for the database

# Session and Cookie Configuration
SESS_SECRET =              # Secret key for session encryption
COOKIE_NAME =              # Name of the cookie used for session identification

# Token and JWT Configuration
TOKEN_SECRET =             # Secret key for token encryption
JWT_EXPIRES_IN =           # JWT token expiration time (e.g., '1h', '7d')

# Email Service Configuration
MAILER_NAME =              # Name of the email sender
MAILER_EMAIL =             # Email address of the sender
MAILER_PASSWORD =          # Password for the email sender's email account
MAILER_DOMAIN =            # Domain of the email service provider

# Third-Party API Credentials
AMADEUS_CLIENT_ID =        # Amadeus API client ID
AMADEUS_CLIENT_SECRET =    # Amadeus API client secret
AMADEUS_URL =              # URL for Amadeus API
Company_Code =             # amadeus company code
AMADEUS_CURRENCY =             # amadeus company code


SABRE_CLIENT_ID =          # Sabre API client ID
SABRE_CLIENT_SECRET =      # Sabre API client secret
SABRE_TOKEN_URL =          # URL for obtaining Sabre API tokens
SABRE_PCC =                # Sabre PCC (Pseudo City Code)
SABRE =                    # Base URL for Sabre API

# Sendinblue (SIB) API Configuration
SIB_API_KEY =              # API key for Sendinblue (SIB) email service

# Twilio API Configuration
TWILIO_ACCOUNT_SID =       # Twilio Account SID
TWILIO_AUTH_TOKEN =        # Twilio Authentication Token
TWILIO_WHATSAPP_NUMBER =   # Twilio WhatsApp number (e.g., +14155238886)
